* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    color: rgb(11, 58, 77);
    background: linear-gradient(rgba(11, 58, 77, 0.2), rgba(94, 151, 146, 0.2));
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    background: linear-gradient( #5e9792cc, #0b3a4d99);
}

.wrapper>* {
    padding: 0;
    flex: 1 100%;
}

.imagewrapper {
    width: 100%;
    background: url("fond_vert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageSectionBas {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageSection2 {
    background: url("fond_feuilles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #ebf3e2;
}

h2 {
    color: #bfcf60;
    font-size: 3.5rem;
}

.info {
    color: #ebf3e2;
    font-size: 2.5rem;
}

.photo {
    filter: grayscale(0.2) opacity(0.7);
    image-rendering: optimizeQuality;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    align-items: center;
}

.texte_petit {
    text-align: center;
    margin: auto;
    font-family: "Montserrat";
}

.navMenu {
    display: flex;
    padding: 1em;
    font-size: 1.5rem;
    flex-flow: row wrap;
    justify-content: flex-end;
    transition: .3s all;
}

.navMenu a {
    text-decoration: none;
    display: flex;
    padding: 1em;
    color: #ebf3e2;
}

.navMenu a:hover {
    display: flex;
    background: #b0f66f80;
    cursor: pointer;
    color: #0d1d1f;
    border-radius: 1rem;
}

.main {
    color: #0d1d1f;
    font-size: 1.8rem;
    align-items: baseline;
    text-align: center;
}

.cardsRealisations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex-wrap: wrap;
    margin: 10px;
    border: 1px solid #0d1d1f;
    box-shadow: 2px 2px 6px 0px #0b3a4d80;
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.button {
    align-items: stretch;
    background: #0b3a4d80;
    border: 0;
    border-radius: .3rem;
    color: #bfcf60;
    padding: .8rem;
    margin: .3rem;
    width: 5em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #bfcf60;
    color: rgb(13, 29, 31);
}

.btn {
    background-color: #bfcf60;
    color: #0d1d1f;
}

p {
    margin: 0 auto;
    font-size: 1.5em;
    font-family: 'Raleway';
    line-height: 1.5em;
    color: #0d1d1f;
}

a {
    color: #0B3A4D;
    cursor: pointer;
    font-size: 1em;
}

a:hover {
    color: #bfcf60;
}

.form-group {
    align-items: center;
    color: #86959b;
    font-family: "Raleway";
}

.form-control {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    color: #eef3e9;
    border-radius: .3rem;
}

.textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #0d1d1f;
    border-radius: .3rem;
}

.footer p {
    font-size: 1.5em;
    text-align: center;
    background: linear-gradient(rgba(3, 36, 25, 0.9), rgba(11, 58, 77, 0.8));
    border: none;
    color: #0d1d1f;
}

@media(max-width:480px) {
    .container {
        flex-direction: column;
    }
    .navMenu {
        flex-flow: column wrap;
        align-items: center;
        font-size: .5rem;
    }
    .navMenu:hover {
        color: #bfcf60;
    }
    .captcha {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .navMenu {
        float: none;
    }
}